<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yang.demo.mapper.HelpMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yang.demo.pojo.Help">
        <id column="user_id" property="userId" />
        <result column="hp_id" property="hpId" />
        <result column="hp_pay" property="hpPay" />
        <result column="hp_topic" property="hpTopic" />
        <result column="hp_picture" property="hpPicture" />
        <result column="hp_content" property="hpContent" />
        <result column="hp_location" property="hpLocation" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_id, hp_id, hp_pay, hp_topic, hp_picture, hp_content, hp_location
    </sql>

</mapper>
