<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yang.demo.mapper.LostfoundMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yang.demo.pojo.Lostfound">
        <id column="user_id" property="userId" />
        <result column="lf_id" property="lfId" />
        <result column="lf_items" property="lfItems" />
        <result column="lf_picture" property="lfPicture" />
        <result column="lf_location" property="lfLocation" />
        <result column="lf_content" property="lfContent" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_id, lf_id, lf_items, lf_picture, lf_location, lf_content
    </sql>

</mapper>
