<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yang.demo.mapper.MarketMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yang.demo.pojo.Market">
        <id column="user_id" property="userId" />
        <result column="mk_id" property="mkId" />
        <result column="mk_items" property="mkItems" />
        <result column="mk_price" property="mkPrice" />
        <result column="mk_picture" property="mkPicture" />
        <result column="mk_content" property="mkContent" />
        <result column="mk_location" property="mkLocation" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_id, mk_id, mk_items, mk_price, mk_picture, mk_content, mk_location
    </sql>

</mapper>
