<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yang.demo.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yang.demo.pojo.User">
        <id column="user_openid" property="userOpenid" />
        <result column="user_key" property="userKey" />
        <result column="user_headimgurl" property="userHeadimgurl" />
        <result column="user_nickname" property="userNickname" />
        <result column="user_sex" property="userSex" />
        <result column="user_location" property="userLocation" />
        <result column="user_phone" property="userPhone" />
        <result column="user_introduce" property="userIntroduce" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_openid, user_key, user_headimgurl, user_nickname, user_sex, user_location, user_phone, user_introduce
    </sql>

</mapper>
